<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../settes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../settes/bootstrap/css/style.css">
    <link rel="stylesheet" href="../settes/bootstrap/css/all.min.css">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
            margin-left: 10px;
            color:black;
        }
        .under-line{
            border-bottom: 2px solid #eee;
        }
        .text-gray{
            color: #828080;
        }
    </style>
</head>
<body class="gray">
    <div class="container bg-white main">
        <div class="p-5">
            <div class="d-flex justify-content-between">
                <h1>Job<span class="color2">Find</span></h1>
                <button class="btn btn-success"><h4><i class="fa-duotone fa-plus"></i>Add Job</h4></button>
            </div>
            <div class="gray my-5">
               
                    <ul class="list-group list-group-horizontal ">
                        <li class="list-group-item gray d-flex align-items-center"><i class="fa-solid fa-house"></i><a href="#">Home</a></li>
                        <li class="list-group-item gray d-flex align-items-center"><i class="fa-sharp fa-regular fa-user-doctor"></i><a href="#">Browser Jobs</a></li>
                        <li class="list-group-item gray  d-flex align-items-center"><i class="fa-solid fa-registered"></i><a href="#">Register</a></li>
                        <li class="list-group-item gray d-flex align-items-center"><i class="fa-solid fa-right-to-bracket"></i><a href="#">Login</a></li>
                    </ul>
            
            </div>
            <h1>Lates Job listies</h1>
            <div class="my-5">
                <form action="" class="form-group d-flex justify-content-between" method="post">
                    <input type="text"  name="jop" class="form-control mx-2" placeholder="Enter keywords">
                    <select name="state" class="form-control mx-2">
                        <option >Select state</option>
                        <option value="1">one</option>
                        <option value="2">two</option>
                        <option value="3">three</option>
                        <option value="4">four</option>
                        <option value="5">five</option>
                        <option value="6">six</option>
                        <option value="7">siven</option>
                        <option value="8">eight</option>
                    </select>
                    <select name="category" class="form-control mx-2">
                        <option >select category</option>
                        <option value="1">frind</option>
                        <option value="2">worlk</option>
                        <option value="3">family</option>
                    </select>
                    <input type="submit" name="find" value="Find" class="btn btn-success">
                </form>
            </div>
           
                <div class="row under-line py-5">
                    <div class="col-md-2">
                        <div class="bg-success text-white  p-2">FullTime</div>
                    </div>
                    <div class="col-md-10 ">
                        <div class="d-flex align-items-center"><h3 >header</h3><span class="mx-2 text-gray">(date)</span></div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Qui sunt ad nostrum minima,
                            minus labore molestiae alias! Impedit, soluta ut
                            <a href="#"><span class="text-primary">read more</span></a>
                        </p>
                    </div>
                </div>
                <div class="row under-line py-5">
                    <div class="col-md-2">
                        <div class="bg-primary text-white  p-2">PartTime</div>
                    </div>
                    <div class="col-md-10 ">
                        <div class="d-flex align-items-center"><h3 >header</h3><span class="mx-2 text-gray">(date)</span></div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Qui sunt ad nostrum minima,
                            minus labore molestiae alias! Impedit, soluta ut
                            <a href="#"><span class="text-primary">read more</span></a>
                        </p>
                    </div>
                </div>
           
        </div>
<footer>
    <p>Copyright &copy; 2024 ,JopFind</p>
</footer>
    </div>

</body>
</html>